doctype html
head
  title Node.js Website
  link(rel='stylesheet' href='style.css')
header
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='about') About
      li
        a(href='contact') Contact
main
  h1 Welcome to our Node.js website!
  p Here you will find information and resources about Node.js and its uses.
footer
  p Copyright &copy; 2022 Node.js Website
